@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #1d1e23;
  --text-color: #fff;
  --main-color: #a6bbcc;
  --p-font: 1rem;
  --h2-font: 3.7rem;
  --h1-font: 5.6rem;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

header {
  width: 100%;
  height: 40px;
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  padding: 38px 19%;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  border-bottom: 1px solid white;
}

.logo {
  color: var(--text-color);
  font-size: 30px;
  font-weight: 600;
}

.navbar {
  display: flex;
}

.navbar a {
  font-size: var(--p-font);
  padding: 4px;
  margin: 0 25px;
  color: var(--text-color);
  font-weight: 400;
  border-bottom: 2px solid transparent;
  transition: all 0.7s;
}


.navbar a:hover {
  border-bottom: 2px solid var(--main-color);
  color: var(--main-color);
  cursor: pointer;
}
li {
  list-style: none;
}

li a, .logo {
  text-decoration: none;
}

#menu-icon {
  font-size: 32px;
  cursor: pointer;
  display: none;
}

section {
  padding: 40px 19% 30px;
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  gap: 35px;
}

.home-img {
  width: 100%;
  object-fit: cover;  
  border: 4px solid white;
  height: auto;
  border-radius: 50px;
  cursor: pointer;
}

.home-img img {
  width: 100%;
  height: auto;
  border-radius: 50px;
}

.home-text h5 {
  font-size: 25px;
  font-weight: 500;
}

.home-text h1 {
  color: var(--main-color);
  font-size: var(--h1-font);
  margin: 15px 0;
  line-height: 1.1;
  font-weight: 800;
}

.social {
  color: var(--text-color);
}


.social p{
  margin-right: 30px;
  color: var(--text-color);
  text-decoration: none;
}
.social {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.social-link {
  margin-right: 30px;
  color: var(--main-color);
  text-decoration: none;
  transition: all 0.7s;
  font-size: 22px;
  border-radius: 50%;
}

.social-link:hover{
  box-shadow: 0 0 30px var(--main-color);
}


.button-follow {
  display: flex;
  flex-direction: row;
}

.mail-me {
  background-color: var(--main-color);
  text-decoration: none;
  color: black;
  width: 120px;
  height: 50px;
  font-size: 16.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  margin-right: 15px;
  transition: all 0.5s;
}

.download-btn {
  background-color: transparent;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  width: 120px;
  height: 50px;
  transition: all 0.5s;
}

.download-btn:hover, .mail-me:hover {
  box-shadow: 0 0 30px var(--main-color);
}


.about h2{
  writing-mode: vertical-lr;
  font-size: var(--h2-font);
  color: var(--text-color);
  transform: rotate(180deg);
  background: linear-gradient(to right, rgb(27, 124, 205), rgb(69, 214, 202));
  background-size: 200% 200%;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 5s ease infinite;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 17%;
}

.about h5, .about p {
  font-family: "Cormorant Garamond", serif;
  font-size: 22px;

}

.skill {
  margin-bottom: 15px;
}

.skill-bar {
  height: 14px;
  border: 2px solid blue;
  border-radius: 20px;
  box-shadow: 0 0 5px rgb(255, 255, 255);
}

.skill-name {
  text-transform: uppercase;
}

.skill-per {
  height: 12px;
  background: blue;
  position: relative;
  animation: fillBar 1.5s 1;

}

.skill-per::before {
  content: attr(per);
  position: absolute;
  height: 10px;
  background: white;
  color: #282828;
  padding: 8px 8px;
  border-radius: 10px;
  position: absolute;
  font-size: 12px;
  top: -35px;
  right: 0;
  transform: translateX(50%);
}

.skill-per::after{
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  top: -20px;
  right: 0;
  background-color: white;
  margin-top: 8px;
  transform: translateX(50%) rotate(45deg);
}


.stack p{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  margin-bottom: 40px;
}

.stack .line {
  height: 120px;
  width: 5px;
  color: white;
  border: solid;
  margin-left: 475px;
}


.skill-hours{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: var(--text-color);
  font-size: 30px;
}

.stack a {
  font-size: 18px;
  color: var(--main-color);
}

.stack .box{
  border: 2px solid white;
  padding: 12px 50px 12px 50px;
  border-radius: 20px;
}

.contacts h2, .contact-me {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-me textarea {
  border-radius: 10px;
  border: 1px solid white;
}

.contact-me textarea::placeholder {
  padding: 10px;
  color: black;
  font-size: 16px;
}

.contacts {
  display: flex;
  flex-direction: column; /* Stack the elements vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
}



.contacts .btn {
  height: 40px;
  width: 120px;
  color: var(--text-color);
  background-color: blue;
  border: none;
  font-size: 12.5px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  padding: 8px;
  margin-top: 20px;
  transition: all 0.5s;
}


.contacts .btn:hover {
  background-color: white;
  color: blue;
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fillBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}